/* You can add global styles to this file, and also import other style files */
body {
    background: url('https://i.pinimg.com/originals/87/93/b7/8793b7f3009c87baf350de82a5f72423.jpg');
    min-height: 70vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
